<h2 class="pg-heading">Basic Notes: Need to Know</h2>
<hr/>
<h4>Version:</h4>
<div class="info-box">
    <p>- ~11.1.5</p>
    <p>- ^11.1.5</p>
    <p>- 11 is the major version | 1 is the minor version | 5 is the patch version</p>
    <p>- major version means breaking changes</p>
    <p>- minor version means new feature added</p>
    <p>- patch version means bug fixed</p>
    <p>- If add ~, means - update the patch version (if avaliable)</p>
    <p>- If add ^, means - update the minor & patch version (if avaliable)</p>
    <p>- If nothing add - need exact match during npm install or npm update</p>
</div>
<h4>Angular:</h4>
<div class="info-box">
    <p>- is javascript based frontend framework</p>
    <p>- Developed and Maintaining by Google</p>
    <p>- Built on TypeScript</p>
    <p>- We can develop enterprise level application by Angular</p>
</div>

<h4>Decorators: Type</h4>
<div class="info-box">
    <p>- Class decorators (Ex: @Component, @NgModule)</p>
    <p>- Property decorators (Ex: @Input, @Output)</p>
    <p>- Method decorators (Ex: @HostListener)</p>
    <p>- Parameter decorators (Ex: @Inject)</p>
</div>

<h4>Decorators: List <a href="https://angular.io/api?type=decorator" target="_blank">https://angular.io/api?type=decorator</a></h4>
<div class="info-box">
    <p>- @NgModule</p>
    <p>- @Component</p>
    <p>- @Output</p>
    <p>- @Input</p>
    <p>- @Injectable</p>
    <p>- @Inject</p>
    <p>- @Host</p>
    <p>- @HostListener</p>
    <p>- @HostBinding</p>
    <p>- @ContentChild</p>
    <p>- @ContentChildren</p>
    <p>- @ViewChild</p>
    <p>- @ViewChildren</p>
    <p>- @Directive</p>
    <p>- @Self</p>
    <p>- @Optional</p>
    <p>- @SkipSelf</p>
    <p>- @Pipe</p>
</div>

<h4>Directive: Type</h4>
<div class="info-box">
    <p>- Components</p>
    <p>- Structural (Ex: NgIf (*ngIf), NgFor (*ngFor), NgSwitch (*ngSwitch))</p>
    <p>- Attribute (Ex: [ngStyle], [ngClass])</p>
    <p>- Custom</p>
</div>