<h2 class="pg-heading">Toastr</h2>
<hr/>

<a href="https://www.npmjs.com/package/ngx-toastr" target="_blank">https://www.npmjs.com/package/ngx-toastr</a>
<br/>
<a href="https://ngx-toastr.vercel.app/" target="_blank">https://ngx-toastr.vercel.app/</a>
<br/>
<a href="https://www.youtube.com/watch?v=hIvq-NzkRXM" target="_blank">https://www.youtube.com/watch?v=hIvq-NzkRXM</a>2

<h4>Examples</h4>

<button class="btn btn-primary" (click)="example1()">Example 1</button>

<button class="btn btn-danger" [ngStyle]="{'margin-left.px': 10}" (click)="closeAll()">Close All</button>