<h2 class="pg-heading">Useful Commands:</h2>
<hr/>
<h4>Setup:</h4>
<div class="info-box">
    <p>- First Install NODE</p>
    <p>- node -v</p>
    <p>- npm -v</p>
    <p>- Second Install Angular CLI</p>
</div>

<h4>Commands: (Angular) <a href="https://angular.io/cli" target="_blank">https://angular.io/cli</a></h4>
<div class="info-box">
    <p>npm install -g @angular/cli</p>
    <p>ng --version</p>
    <p>ng new my-app</p>
    <p>ng serve</p>
    <p>ng serve -o</p>
    <p>ng server</p>
    <p>ng serve --port PORT_NUMBER</p>
    <p>ng build --prod</p>
    <p>ng g c COMPONENET_NAME</p>
    <p>ng g c COMPONENET_NAME -s --skipTests</p>
    <p>ng g class CLASS_NAME --skipTests</p>
    <p>ng g s SERVICE_NAME</p>
    <p>ng g m MODULE_NAME</p>
    <p>ng g p PIPE_NAME</p>
    <p>ng g d DIRECTIVE_NAME</p>
</div>

<h4>Commands: (TypeScript)</h4>
<div class="info-box">
    <p>npm install -g typescript</p>
    <p>tsc -v</p>
    <p>tsc main</p>
    <p>tsc main.js --watch</p>
    <p>tsc main --watch</p>
    <p>node main</p>
</div>

<h4>Commands: (SASS)</h4>
<div class="info-box">
    <p>npm install -g sass</p>
    <p>sass --version</p>
    <p>sass --watch sass/style.scss:css/style.css</p>
</div>
