<h2 class="pg-heading">Custom Directive | @HostListener() | @HostBinding()</h2>
<hr/>

<div>
    <h4>Example 1: Static Custom Directive</h4>
    <p appHighlightTextOne>Hi, I am Arindam</p>
</div>

<div class="mt-3">
    <h4>Example 2: Static Custom Directive - Renderer2</h4>
    <p appHighlightTextTwo>Hi, I am Arindam</p>
</div>

<div class="mt-3">
    <h4>Example 3: Static Event Custom Directive - Renderer2 & @HostListener</h4>
    <p appHighlightTextEventOne>Hi, I am Arindam</p>
</div>

<div class="mt-3">
    <h4>Example 4: Static Event Custom Directive - Renderer2 & @HostListener & @HostBinding</h4>
    <p appHighlightTextEventTwo>Hi, I am Arindam</p>
</div>

<div class="mt-3">
    <h4>Example 4: Dynamic Event Custom Directive - Renderer2 & @HostListener & @HostBinding</h4>
    <p appHighlightTextDynamicEvent>Hi, I am Arindam</p>
</div>

<div class="mt-3">
    <h4>Example 5: Dynamic Event Custom Directive - Renderer2 & @HostListener & @HostBinding</h4>
    <p appHighlightTextDynamicEvent [hilightBgColor]="'lime'" [hilightTxtColor]="'blue'">Hi, I am Arindam</p>
</div>